<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML</title>
    <style>

	.column {
	  flex: 30%;
	  padding: 70px;

	}
	img {
	  width: 100%;
	  height: 80%;
	}
	.container {
	   display: flex;
	}



</style>
</head>
<body>
<h2>Hi there! Welcome <span th:text="${userName}"></span></h2>
<h2> Select Movie</h2>
<div class="container">
    <div class="column">
        <a href="seatBooking"> <img src="spiderman.jpg" alt="image1"></a>
    </div>
    <div class="column">
        <a href="seatBooking" ><img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781534496804/hotel-transylvania-transformania-movie-novelization-9781534496804_hr.jpg" alt="image2">
        </a>
    </div>
    <div class="column">
        <a href="seatBooking"><img src="pushpa.jpg" alt="image3"></a>
    </div>
</div>
</body>
</html>