<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Ticket App</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="nav.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="#" class="active"><i class="fa fa-home"></i> Home</a>
    <a href="login"><i class="fa fa-user"></i> Login</a>
    <a href="register"><i class="fa fa-sign-in"></i> Sign Up</a>
    <a href=""><i class="fa fa-user"></i> About Us</a>
    <a href=""><i class="fa fa-phone"></i> Contact</a>
</div>
<div class="header">
    <marquee>
        <h2 style="color:#f73772; font-size:40px;font-weight:300;">
            <i class="fa fa-globe" style="font-size:36px;color:#6defff"></i>
            &nbsp;Welcome &nbsp; to &nbsp; Book &nbsp;Show &nbsp;&nbsp;&nbsp;&nbsp;
            <i class='fa fa-globe' style='font-size:36px ;color:#6defff'></i>
            &nbsp;Watch &nbsp; Handpicked &nbsp; Cinema  &nbsp;&nbsp;&nbsp;&nbsp;
            <i class='fa fa-globe' style='font-size:36px;color:#6defff'></i>
            &nbsp;Curated &nbsp; With &nbsp; Love &nbsp;&nbsp;&nbsp;&nbsp;
            <i class='fa fa-globe' style='font-size:36px ;color:#6defff'></i>
            &nbsp;Musical &nbsp; Horror &nbsp; Comedy &nbsp;Emotion &nbsp; Experience &nbsp; Everything &nbsp;</h2>
    </marquee>
</div>

</body>
</html>